body{
	background-color: #334756;
	align-content: center;
	text-align: center;
	font-family: 'Inter', sans-serif;
    opacity: 1;
    color: #fff;
}
button{
	width: 50%;
	height: 20px;
	max-width: 400px;
	position: relative;
	overflow: hidden;
	border-radius: 30px;
	border-color: #fff;
}